.footer-container {
    position: relative;
    background-color: #6D8299;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cookie-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .about-me-text {
    text-align: center;
    color: white;
  }